In [1]:
# [+] SparkSession 설정
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('udf').getOrCreate()

In [2]:
data = [
    ('안현', 39),
    ('원석', 27),
    ('민지', 25),
    ('현수', 43),
    ('도현', 32),
    ('은진', 31)
]

In [3]:
df = spark.createDataFrame(data, ['name', 'age'])

In [4]:
def age_category(age):
    if age < 35:
        return 'young'
    elif age >= 60:
        return 'senior'
    else:
        return 'adult'

In [9]:
df = spark.createDataFrame(data, ['name', 'age'])

In [10]:
df.createOrReplaceTempView("people")

In [11]:
spark.udf.register("age_category", lambda age: 'young' if age < 35 else ('senior' if age >= 60 else 'adult'))

In [12]:
result = spark.sql("SELECT name, age_category(age) AS age_category FROM people")
result.show()

+----+------------+
|name|age_category|
+----+------------+
|안현|       adult|
|원석|       young|
|민지|       young|
|현수|       adult|
|도현|       young|
|은진|       young|
+----+------------+